<template>
  <b-row
    id="home"
    class="m-0"
  >
    <header class="w-100">
      Home | Products | Articles
      <hr>
    </header>
    <section>
      <div class="title-header">
        <center>
          <h2>
            Advanced Vue.js Component
          </h2>
          <h2>
            Composition With Container
          </h2>
          <h2>
            Components
          </h2>
          <p>Demo application to show to separate Vue.js components into</p>
          <p>Container components and Presentational Components</p>
        </center>
      </div>
      <div>
        <ListOfProduct
          :list-of-product="listProduct.data"
          class="mt-5"
        />
        <ListOfArticle
          :list-of-articles="listArticle"
          class="mt-5"
        />
      </div>
    </section>
  </b-row>
</template>

<script>
import { mapGetters } from 'vuex'
import mixinGetListProduct from '@/mixins/mixinGetListProduct'
import mixinGetListArticle from '@/mixins/mixinGetListArticle'
import ListOfProduct from '@/components/common/ListOfProduct.vue'
import ListOfArticle from '@/components/common/ListOfArticle.vue'

export default {
  name: 'DashBoard',
  components: {
    ListOfProduct,
    ListOfArticle,
  },
  mixins: [mixinGetListProduct, mixinGetListArticle],
  data() {
    return {
      searchForm: {
        title: '',
        description: '',
        pageSize: 3,
        currentPage: 1,
      },
    }
  },
  computed: {
    ...mapGetters({
      listProduct: 'products/listProduct',
      listArticle: 'articles/listArticle',
    }),
  },
}
</script>
