<template>
  <b-table
    responsive="sm"
    :fields="fields"
    :items="listArticle"
  >
    <template #cell(img)="data">
      <img :src="data.item.img">
    </template>
    <template #cell(action)="data">
      <feather-icon
        icon="Trash2Icon"
        @click="remove(data.item.id)"
      />
    </template>
    <template #cell(categories)="data">
      <div v-html="$arrayToList(data.item.categories)" />
    </template>
  </b-table>
</template>

<script>
import { mapGetters } from 'vuex'
import { ARTICLE_TABLE_FIELDS } from '@/constains/constants'
import mixinGetListArticle from '@/mixins/mixinGetListArticle'

export default {
  name: 'Articles',
  components: {},
  mixins: [mixinGetListArticle],
  data() {
    return {
      fields: Object.keys(ARTICLE_TABLE_FIELDS)?.map(item => ({
        key: item,
        label: ARTICLE_TABLE_FIELDS[item],
      })),
    }
  },
  computed: {
    ...mapGetters({
      listArticle: 'articles/listArticle',
    }),
  },
  methods: {
    async remove(id) {
      await this.$store.dispatch('articles/removeArticle', id)
    },
  },
}
</script>
