<template>
  <ChuyenNganh />
</template>

<script>
import ChuyenNganh from '@/components/pages/charts/ChuyenNganh.vue'

export default {
  name: 'ViewsChuyenNganh',
  components: {
    ChuyenNganh,
  },
}
</script>
