<template>
  <DashBoard />
</template>

<script>
import DashBoard from '@/components/pages/dashboard/Index.vue'

export default {
  name: 'ViewsDashBoard',
  components: {
    DashBoard,
  },
}
</script>
