<template>
  <b-row class="m-0 position-relative">
    <!-- <div
      id="explain-formula"
      class="position-absolute p-1 border bg-white"
    >
      abc
    </div> -->
    <b-input
      id="input-formula"
      ref="input-formula"
      v-model="inputFormula"
      class="w-25"
      @click="click"
      @blur="blur"
      @keydown="keydown"
    />
    <div
      v-if="listFormula && listFormula.length > 0"
      id="list-formula"
      class="position-absolute p-1 border bg-white"
    >
      <ul
        class="p-0 m-0"
        style="list-style-type: none"
      >
        <li
          v-for="(formula, index) of listFormula"
          :key="index"
          @click="(e) => clickFormula(e, formula)"
        >
          <img
            :src="fx"
            alt="fx"
            style="width: 15px"
          >
          {{ formula.name }}
        </li>
      </ul>
    </div>
  </b-row>
</template>

<script>
const fx = require('@/assets/images/fx.png')

const listKyTu = ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'z', 'x', 'c', 'v', 'b', 'n', 'm']
const listFormula = [
  {
    name: 'SUM',
    explain: 'SUM(number1, number2,...)',
  },
  {
    name: 'SUMIF',
    explain: 'SUM(range, criteria, [sum_range])',
  },
  {
    name: 'AVERAGE',
    explain: 'AVERAGE(number1, number2,...)',
  },
  {
    name: 'LOG',
    explain: 'LOG(number, [base])',
  },
  {
    name: 'LOOKUP',
    explain: 'LOOKUP(lookup_value, array)',
  },
]

export default {
  name: 'Demo',
  components: {},
  data() {
    return {
      fx,
      value: '5',
      formulaText: '',
      type: 0,
      keySearchFormula: '',
    }
  },
  computed: {
    inputFormula: {
      get() {
        if (this.type === 1) return this.formulaText
        return this.value
      },
      set(newValue) {
        this.formulaText = newValue
      },
    },
    listFormula() {
      const { keySearchFormula } = this
      if (keySearchFormula === '') return []
      return listFormula.filter(item => item.name.indexOf(keySearchFormula.toUpperCase()) === 0)
    },
    // explainFormula() {// },
  },
  watch: {
    // inputFormula: {
    //   handler(val, oldVal) {
    //     console.log('val :>> ', val)
    //     console.log('oldVal :>> ', oldVal)
    //   },
    // },
  },
  methods: {
    resetKeySearchFormula() {
      // this.keySearchFormula = ''
    },
    click() {
      this.type = 1
    },
    blur() {
      this.type = 0
      setTimeout(() => {
        this.resetKeySearchFormula()
      }, 500)
    },
    keydown(e) {
      if (this.inputFormula.indexOf('=') !== 0) return
      const { key } = e
      if ([',', ')', 'Backspace'].indexOf(key) > -1) this.resetKeySearchFormula()
      if (listKyTu.indexOf(key) < 0) return
      this.keySearchFormula += key
    },
    clickFormula(e, formula) {
      e.stopPropagation()
      e.preventDefault()
      this.type = 1
      this.inputFormula = this.inputFormula.replace(this.keySearchFormula, `${formula.name}(`)
      this.$refs['input-formula'].focus()
      this.resetKeySearchFormula()
    },
  },
}
</script>

<style lang="scss">
#explain-formula {
  top: 110%;
  width: 25%;
  ul {
    li {
      &:hover {
        background: #0d6efd;
        color: #fff;
      }
      :not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
#list-formula {
  top: 110%;
  width: 25%;
  ul {
    li {
      &:hover {
        background: #0d6efd;
        color: #fff;
      }
      :not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
</style>
