<template>
  <Validation />
</template>

<script>
import Validation from '@/components/pages/validation/Index.vue'

export default {
  name: 'ViewsValidation',
  components: {
    Validation,
  },
}
</script>
