<template>
  <button>
    {{ count }}
  </button>
</template>

<script>
import { computed, ref } from 'vue'

export default {
  setup() {
    console.log('computed :>> ', computed)
    console.log('ref :>> ', ref)
    const count = ref(0)
    return { count }
  },
  mounted() {},
}
</script>
