$color-theme: #ea5455;
$color: #393939;

#figma {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  font-family: Arial;
  color: $color;

  .pv {
    padding-left: 42px;
    padding-right: 42px;
  }

  .f-first-new {
    &__image {
      width: 100%;
      aspect-ratio: 5 / 3;
      object-fit: cover;
    }

    &__content {
      a {
        line-height: 125%;
        display: block;
        font-weight: bold;
        font-size: 2.7rem;
        color: $color;
      }
      p {
        font-size: 1.3rem;
        line-height: 130%;
        letter-spacing: 0.05rem;
      }
    }
  }

  .card {
    box-shadow: none;
  }
}

#figma header {
  .nav-link {
    color: #fff;
    font-weight: 700;
  }
  .f-nav__contact {
    color: #fff;
  }
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__logo {
      max-width: 50px;
      width: 50px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    &__title-header {
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0;
      font-weight: bold;
      color: $color-theme;
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__nav {
      margin-bottom: 0;
      li {
        display: inline;
        margin-right: 2rem;
        a {
          font-weight: bold;
          color: $color-theme;
          font-size: 1rem;
        }
      }
    }

    &__translate {
      cursor: pointer;
      font-weight: bold;
      color: $color-theme;
      font-size: 1rem;
    }
  }

  .f-nav {
    background-color: $color-theme;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;

    &__nav,
    &__contact {
      margin-bottom: 0;
      padding-left: 0;
      li {
        display: inline;
        margin-right: 26px;
        font-size: 1rem;
        font-weight: bold;
        a {
          color: white;
        }
        svg {
          margin-right: 6px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#figma footer {
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 160%;
}

#figma .f-title {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  color: $color-theme;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--gray);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 16%;
    min-width: 160px;
    height: 1px;
    background-color: $color-theme;
    transform: translateY(100%);
  }
}

#figma .container-news {
  position: relative;
  display: flex;
  flex-direction: column;

  .content-news {
    display: flex;
    flex-direction: row;
    margin: -14px;
  }

  & > .see-more {
    color: $color-theme;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    cursor: pointer;
  }
}

#figma .the-new {
  width: 100%;
  display: inline-block;
  margin: 14px;

  img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
  }

  p {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 24px;
    text-transform: capitalize;
    color: $color;
  }
}

#figma .container-news-2 {
  .content-news {
    flex-wrap: wrap;

    .the-new:not(:first-child) {
      display: flex;

      img {
        width: 180px;
        margin-right: 14px;
        margin-bottom: 0 !important;
      }

      p {
        width: calc(100% - 180px - 14px);
        font-weight: 400;
      }
    }
  }
}

#figma .time-line {
  &__item {
    padding-bottom: 28px;
    padding-left: 18px;
    border-left: 1px solid var(--gray);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      width: 14px;
      height: 14px;
      top: 0;
      left: 0;
      border-radius: 50%;
      transform: translate(-55%, 4px);
      background-color: $color-theme;
    }
    &:first-child::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: white;
      transform: translateX(-50%);
    }

    &:last-child {
      border-left-color: transparent;
    }

    label {
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 4px;
    }
  }
}

#figma .rule-news {
  border-bottom: 1px solid #dedede;

  &__title {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px 12px;
    border: 1px solid #dedede;
    cursor: pointer;

    & > svg {
      margin-right: 12px;
      color: $color-theme;
    }
  }

  @mixin text-style {
    color: $color;
    font-size: 1.1rem;
  }

  & > .row > .col-7 {
    border-right: 1px solid #dedede;
    @include text-style();
    position: relative;
    
    .download {
      cursor: pointer;
      position: absolute;
      bottom: 12px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 8px;
      }
    }
  }

  & > .row > .col-5 {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        @include text-style();
        margin-bottom: 12px;

        span {
          margin-left: 8px;
        }

        &.red span {
          color: var(--red);
        }
        &.blue span {
          color: var(--blue);
        }
      }
    }
  }
}

#figma .chuyen-muc {

  ul.second {
    list-style-type: none;
    li {
      border: 1px solid $color-theme;
      padding: 30px 18px;
      margin-bottom: 12px;
      color: $color-theme;
      font-weight: bold;
      font-size: 18px;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 18px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column !important;
  }
}