<template>
  <div>
    <b-card
      no-body
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img4"
          class="card-img card-img-top img-fluid"
        >
      </ThePlay>
      <b-card-body class="pl-0 pr-0">
        <h2>
          <strong>Bức tranh kinh tế tập thể trong 15 năm qua</strong>
        </h2>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import ThePlay from './ThePlay.vue'
/* eslint-disable global-require */

export default {
  name: 'DashBoard',
  components: {
    ThePlay,
  },
  data() {
    return {
      img4: require('@/assets/images/pages/figma/4.png'),
    }
  },
  computed: {},
}
</script>
