<template>
  <div class="container-news container-news-2">
    <f-title>{{ title }}</f-title>
    <div class="content-news">
      <slot />
    </div>
    <p class="see-more ml-auto">
      Xem tất cả
      <feather-icon icon="ArrowRightIcon" />
    </p>
  </div>
</template>

<script>
import FTitle from '@/components/pages/figma/Title.vue'

export default {
  components: { FTitle },
  props: {
    title: undefined,
  },
}
</script>
