<template>
  <header>
    <b-row class="banner pt-1 pb-1 pv">
      <b-col
        lg="6"
        class="banner__left mr-auto"
      >
        <img
          :src="Logo"
          draggable="false"
          loading="lazy"
          class="banner__logo mr-2"
        >
        <label class="banner__title-header">
          Cổng thông tin điện tử Bộ kế hoạch và đầu tư
        </label>
      </b-col>
      <b-col
        lg="6"
        class="banner__right justify-content-end"
      >
        <ul class="banner__nav mr-3 p-0">
          <li><a href="#">Liên kết</a></li>
          <li><a href="#">RSS</a></li>
          <li><a href="#">Sơ đồ</a></li>
        </ul>
        <label class="banner__translate">
          Ngôn ngữ: <span>{{ translate }}</span>
          <feather-icon
            style="margin-left: 10px; width: 16px; height: 16px"
            icon="ArrowDownIcon"
          />
        </label>
      </b-col>
    </b-row>
    <b-navbar
      toggleable="lg"
      variant="danger"
    >
      <b-navbar-toggle target="nav-collapse" />

      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <b-navbar-nav>
          <b-nav-item href="#">
            Giới thiệu
          </b-nav-item>
          <b-nav-item href="#">
            Bộ trưởng
          </b-nav-item>
          <b-nav-item href="#">
            Dịch vụ công
          </b-nav-item>
          <b-nav-item href="#">
            Tin tức
            <feather-icon
              style="margin-left: 2px; width: 16px; height: 16px"
              icon="ArrowDownIcon"
            />
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <ul class="f-nav__contact">
            <li>
              <feather-icon icon="PhoneIcon" />
              Đường dây nóng
            </li>
            <li>
              <feather-icon icon="CreditCardIcon" />
              Danh bạ điện thoại
            </li>
            <li>Chỉnh cỡ chữ: A a</li>
          </ul>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </header>
</template>

<script>
import Logo from '@/assets/images/logo/logo-mpi.png'

export default {
  data() {
    return {
      Logo,
      translate: 'Tiếng việt',
    }
  },
}
</script>
