<template>
  <div id="figma">
    <FHeader class="mb-2" />
    <div class="container-fluid pv">
      <b-row>
        <b-col lg="8">
          <f-title>
            Tin Video nổi bật
          </f-title>
          <ThePlay>
            <img
              :src="IMGFigmaFirstContent"
              class="img-fluid w-100"
              draggable="false"
              loading="lazy"
            >
          </ThePlay>
          <b-row class="mt-2">
            <b-col sm="4">
              <b-card
                no-body
                class="mb-2"
              >
                <ThePlay>
                  <img
                    :src="img1"
                    class="card-img card-img-top img-fluid"
                  >
                </ThePlay>
                <b-card-body class="pl-0 pr-0">
                  <h4>
                    <strong>Bức tranh kinh tế tập thể trong 15 năm qua</strong>
                  </h4>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col sm="4">
              <b-card
                no-body
                class="mb-2"
              >
                <ThePlay>
                  <img
                    :src="img2"
                    class="card-img card-img-top img-fluid"
                  >
                </ThePlay>
                <b-card-body class="pl-0 pr-0">
                  <h4>
                    <strong>75 năm ngành Kế hoạch và Đầu tư - Tiên phong trong đổi mới</strong>
                  </h4>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col sm="4">
              <b-card
                no-body
                class="mb-2"
              >
                <ThePlay>
                  <img
                    :src="img3"
                    class="card-img card-img-top img-fluid"
                  >
                </ThePlay>
                <b-card-body class="pl-0 pr-0">
                  <h4>
                    <strong>Cơ chế chính sách thúc đẩy và khơi thông tiềm năng phát kinh tế tập thể, hợp tác xã</strong>
                  </h4>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <f-title>
            Video họp báo mới nhất
            <PrevAndNext />
          </f-title>
          <b-row>
            <b-col lg="6">
              <CardMain />
            </b-col>
            <b-col lg="6">
              <TheCard />
            </b-col>
          </b-row>
          <f-title>
            Video chiến lược, quy hoạch
            <PrevAndNext />
          </f-title>
          <b-row>
            <b-col lg="6">
              <CardMain />
            </b-col>
            <b-col lg="6">
              <TheCard />
            </b-col>
          </b-row>
          <f-title>
            Video kinh tế - xã hội
            <PrevAndNext />
          </f-title>
          <b-row>
            <b-col lg="6">
              <CardMain />
            </b-col>
            <b-col lg="6">
              <TheCard />
            </b-col>
          </b-row>
        </b-col>
        <b-col
          lg="4"
          class="chuyen-muc"
        >
          <f-title>Video được xem nhiều nhất</f-title>
          <TheCard />
          <ul class="p-0 m-0 second">
            <li><feather-icon icon="RotateCwIcon" />CHUYỂN ĐỔI SÔ</li>
            <li>
              <feather-icon icon="CameraIcon" />HỌP BÁO BỘ KẾ HOẠCH VÀ ĐẦU TƯ
            </li>
            <li><feather-icon icon="CalendarIcon" />LỊCH CÔNG TÁC</li>
            <li><feather-icon icon="WifiIcon" />TIẾP CẬN THÔNG TIN</li>
            <li><feather-icon icon="LayersIcon" />THỦ TỤC HÀNH CHÍNH</li>
          </ul>
        </b-col>
      </b-row>
    </div>
    <FFooter class="mt-2" />
  </div>
</template>

<script>
/* eslint-disable global-require */
import FFooter from './Footer.vue'
import FTitle from './Title.vue'
import FHeader from './Header.vue'
import TheCard from './TheCard.vue'
import CardMain from './CardMain.vue'
import PrevAndNext from './PrevAndNext.vue'
import ThePlay from './ThePlay.vue'

export default {
  name: 'DashBoard',
  components: {
    FHeader,
    FFooter,
    FTitle,
    TheCard,
    CardMain,
    PrevAndNext,
    ThePlay,
  },
  data() {
    return {
      IMGFigmaFirstContent: require('@/assets/images/pages/figma/Video.png'),
      img1: require('@/assets/images/pages/figma/1.png'),
      img2: require('@/assets/images/pages/figma/2.png'),
      img3: require('@/assets/images/pages/figma/3.png'),
    }
  },
  computed: {},
}
</script>

<style lang="scss" scope>
@import '@/assets/scss/pages/figma';
.buttonplay {
  border-color: #fff !important;
  background: transparent !important;
  svg {
    width: 20px;
    height: 20px;
    color: #fff;
  }
}
</style>
