<template>
  <span>
    <b-button
      variant="danger"
      class="btn-icon rounded-0 float-right next"
    >
      <feather-icon icon="ChevronRightIcon" />
    </b-button>
    <b-button
      variant="danger"
      class="btn-icon rounded-0 float-right mr-1 prev"
    >
      <feather-icon icon="ChevronLeftIcon" />
    </b-button>
  </span>
</template>

<style lang="scss" scope>
.prev {
  background: rgba(190, 30, 74, 0.6) !important;
}
</style>
