<template>
  <div class="rule-news mb-2">
    <div class="rule-news__title">
      <feather-icon icon="PlayCircleIcon" />{{ title }}
    </div>
    <div class="row">
      <div class="col-7">
        <p class="mt-1">
          {{ content }}
        </p>
        <div class="download">
          <feather-icon icon="DownloadIcon" />Tải về
        </div>
      </div>
      <div class="col-5">
        <ul class="mt-1">
          <li>
            Ban hành: <span>{{ banHanh }}</span>
          </li>
          <li>
            Hiệu lực: <span>{{ hieuLuc }}</span>
          </li>
          <li :class="!trangThai ? 'red' : 'blue'">
            Trạng thái:
            <span>{{
              !trangThai ? 'Hết hiệu lực một phần' : 'Còn hiệu lực'
            }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
/* eslint-disable vue/require-prop-type-constructor */
/* eslint-disable no-bitwise */
export default {
  props: {
    title: undefined,
    content: undefined,
    banHanh: undefined,
    hieuLuc: undefined,
    trangThai: 'Hết hiệu lực một phần' | 'Còn hiệu lực',
  },
}
</script>
