<template>
  <div>
    <b-card
      no-body
      img-left
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img5"
          class=""
        >
      </ThePlay>
      <b-card-body class="pr-0">
        <h4>
          <strong>Giới thiệu Trung tâm Đổi mới sáng tạo Quốc gia</strong>
        </h4>
      </b-card-body>
    </b-card>
    <b-card
      no-body
      img-left
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img6"
          class=""
        >
      </ThePlay>
      <b-card-body class="pr-0">
        <h4>
          <strong>75 năm ngành Kế hoạch và Đầu tư</strong>
        </h4>
      </b-card-body>
    </b-card>
    <b-card
      no-body
      img-left
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img7"
          class=""
        >
      </ThePlay>
      <b-card-body class="pr-0">
        <h4>
          <strong>Cơ chế chính sách thúc đẩy</strong>
        </h4>
      </b-card-body>
    </b-card>
    <b-card
      no-body
      img-left
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img8"
          class=""
        >
      </ThePlay>
      <b-card-body class="pr-0">
        <h4>
          <strong>Bức tranh Kinh tế tập thể trong 15 năm qua</strong>
        </h4>
      </b-card-body>
    </b-card>
    <b-card
      no-body
      img-left
      class="mb-2"
    >
      <ThePlay>
        <img
          :src="img9"
          class=""
        >
      </ThePlay>
      <b-card-body class="pr-0">
        <h4>
          <strong>Ngành Kế hoạch và Đầu tư</strong>
        </h4>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import ThePlay from './ThePlay.vue'
/* eslint-disable global-require */

export default {
  name: 'DashBoard',
  components: {
    ThePlay,
  },
  data() {
    return {
      img5: require('@/assets/images/pages/figma/5.png'),
      img6: require('@/assets/images/pages/figma/6.png'),
      img7: require('@/assets/images/pages/figma/7.png'),
      img8: require('@/assets/images/pages/figma/8.png'),
      img9: require('@/assets/images/pages/figma/9.png'),
    }
  },
  computed: {},
}
</script>
