<template>
  <a
    href="#"
    class="the-new"
  >
    <img
      :src="img"
      draggable="false"
      loading="lazy"
      class="mb-1"
    >
    <p
      class="text-line"
      style="--line: 4"
    >{{ title }}</p>
  </a>
</template>

<script>
export default {
  props: {
    img: undefined,
    title: undefined,
  },
}
</script>
