<template>
  <div class="position-relative">
    <slot />
    <div
      class="position-absolute d-flex justify-content-center align-items-center w-100 h-100"
      style="top: 0"
    >
      <b-button
        class="btn-icon rounded-circle float-right buttonplay"
      >
        <feather-icon
          fill="white"
          icon="ChevronRightIcon"
        />
      </b-button>
    </div>
  </div>
</template>

<style lang="scss" scope>
.buttonplay {
  border-color: #fff !important;
  background: transparent !important;
  svg {
    width: 20px;
    height: 20px;
    color: #fff;
  }
}
</style>
