<template>
  <div id="chart">
    <apexchart
      type="bar"
      :options="chartOptions"
      :series="series"
    />
  </div>
</template>

<script>

export default {
  name: 'Chart',
  props: {
    title: {
      type: String,
      default: null,
    },
    categories: {
      type: Array,
      default: null,
    },
    series: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {}
  },
  computed: {
    chartOptions() {
      return {
        chart: {
          type: 'bar',
          stacked: true,
          toolbar: {
            show: true,
          },
          zoom: {
            enabled: true,
          },
          events: {
            click(event, chartContext, config) {
              console.log('event', event)
              console.log('chartContext', chartContext)
              console.log('config', config)
            },
          },
        },
        colors: ['#b514b5', '#ffa500', '#34bd34', '#4343ea'],
        grid: {
          show: true,
          borderColor: '#90A4AE',
          strokeDashArray: 10,
          position: 'back',
          xaxis: {
            lines: {
              show: false,
            },
          },
          yaxis: {
            lines: {
              show: true,
            },
          },
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0,
            },
          },
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
          },
        },
        xaxis: {
          categories: this.categories,
          labels: {
            style: {
              colors: ['#40566F'],
              fontSize: '14px',
              fontWeight: 400,
            },
          },
        },
        legend: {
          position: 'top',
          offsetY: 0,
        },
        fill: {
          opacity: 1,
        },
        subtitle: {
          text: this.title,
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '12px',
            fontWeight: 'normal',
            color: '#9699a2',
          },
        },
      }
    },
  },
}
</script>
