<template>
  <div id="chart">
    <v-select
      v-model="selected"
      label="title"
      :options="option"
      @click="getData()"
    />
    <Chart
      :title="selected.title"
      :categories="categories"
      :series="series"
    />
  </div>
</template>

<script>
import vSelect from 'vue-select'
import { CATEGORIES_CHUYEN_NGANH } from '@/constains/constants'
import Chart from './ChartBar.vue'

export default {
  name: 'ChuyenNganh',
  components: {
    vSelect,
    Chart,
  },
  data() {
    return {
      selected: { title: 'Số lượng' },
      option: [{ title: 'Số lượng' }, { title: 'TMĐT' }, { title: 'GTPK' }, { title: 'CN' }, { title: 'NL' }],
      CATEGORIES_CHUYEN_NGANH,
      categories: [
        'Nguyên hải',
        'Tuệ Minh',
        'Nhân lực toàn cầu',
        'Vân Hồ',
        'Biển Đỏ',
        'Thăng Long',
        'Phúc Thọ',
        'Phong Phú',
        'Dáng Xuân',
        'Phú quốc',
        'Hằng Nga',
        'Kỷ việt',
        'Cây Cầu Vàng',
        'Gia Nam',
        'Tám Chín',
        'Lịch Lãm',
        'Đậu Xanh',
        'Lam Sơn',
        'Hòa Bình',
        'Nghệ Vàng',
        'Cường Thịnh',
        'Quý An',
        'Giải Phóng',
        'Thành Gia',
        'Bốn mùa',
        'Xuân Mới',
        'Yên Bình',
        'Long Lân',
        'Hưng Thịnh',
        'Hoa Lư',
        'Sao Hôm',
        'Thành Đô',
        'Nguyên An',
      ],
      data: [
        {
          name: 'ĐH1',
          data: [
            1,
            10,
            2,
            0,
            1,
            1,
            0,
            0,
            0,
            1,
            2,
            1,
            0,
            1,
            1,
            1,
            0,
            6,
            0,
            1,
            1,
            4,
            4,
            2,
            1,
            1,
            1,
            2,
            0,
            1,
            4,
            2,
            2,
          ],
        },
        {
          name: 'ĐH3',
          data: [
            1,
            1,
            1,
            0,
            0,
            0,
            1,
            0,
            1,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            2,
            0,
            1,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
          ],
        },
        {
          name: 'ĐH5',
          data: [
            1,
            8,
            6,
            4,
            1,
            1,
            0,
            1,
            1,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            2,
          ],
        },
        {
          name: 'ĐH2',
          data: [
            0,
            2,
            1,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
          ],
        },
      ],
    }
  },
  computed: {
    series() {
      return this.data
    },
  },
  watch: {
    selected(newValue) {
      console.log(newValue)
      this.getData()
    },
  },
  methods: {
    getData() {
      this.data = [
        {
          name: 'ĐH1',
          data: [2633, 1164, 3342, 7532, 4213, 1145, 4236, 1832],
        },
        {
          name: 'ĐH2',
          data: [5354, 6000, 1231, 2000, 4656, 5000, 6787, 7000],
        },
        {
          name: 'ĐH3',
          data: [2000, 4000, 5282, 6000, 1363, 2000, 3894, 4000],
        },
        {
          name: 'ĐH5',
          data: [4215, 1285, 6332, 5342, 12664, 9045, 1254, 3246],
        },
      ]
    },
  },
}
</script>
