<template>
  <div id="chart">
    <div class="d-flex">
      <v-select
        v-model="selected"
        label="title"
        class="float-right"
        :options="option"
      />
    </div>
    <Chart
      :title="selected.title"
      :categories="CATEGORIES_DAU_MOI"
      :series="series"
    />
  </div>
</template>

<script>
import vSelect from 'vue-select'
import { CATEGORIES_DAU_MOI } from '@/constains/constants'
import Chart from './ChartBar.vue'

export default {
  name: 'DauMoi',
  components: {
    vSelect,
    Chart,
  },
  data() {
    return {
      selected: { title: 'Số lượng' },
      option: [{ title: 'Số lượng' }, { title: 'TMĐT' }, { title: 'GTPK' }, { title: 'CN' }, { title: 'NL' }],
      CATEGORIES_DAU_MOI,
      data: [
        {
          name: 'ĐH1',
          data: [2000, 4000, 5282, 6000, 1363, 2000, 3894, 4000],
        },
        {
          name: 'ĐH2',
          data: [5354, 6000, 1231, 2000, 4656, 5000, 6787, 7000],
        },
        {
          name: 'ĐH3',
          data: [2633, 1164, 3342, 7532, 4213, 1145, 4236, 1832],
        },
        {
          name: 'ĐH5',
          data: [4215, 1285, 6332, 5342, 12664, 9045, 1254, 3246],
        },
      ],
    }
  },
  computed: {
    series() {
      return this.data
    },
  },
  watch: {
    selected(newValue) {
      console.log(newValue)
      this.getData()
    },
  },
  methods: {
    getData() {
      this.data = [
        {
          name: 'ĐH1',
          data: [2633, 1164, 3342, 7532, 4213, 1145, 4236, 1832],
        },
        {
          name: 'ĐH2',
          data: [5354, 6000, 1231, 2000, 4656, 2000, 6787, 7000],
        },
        {
          name: 'ĐH3',
          data: [2000, 4000, 5282, 6000, 1363, 2000, 3894, 4000],
        },
        {
          name: 'ĐH5',
          data: [4215, 1285, 6332, 5342, 12664, 9045, 1254, 3246],
        },
      ]
    },
  },
}
</script>
