<template>
  <div class="Articles">
    <h4>Articles</h4>
    <b-row>
      <b-col
        v-for="(product, idx) in listOfArticles"
        :key="idx"
        cols="12"
      >
        <b-card
          no-body
          class="mb-2"
        >
          <b-row>
            <b-col cols="2">
              <img
                :src="product.img"
                class="card-img card-img-top img-fluid"
              >
            </b-col>
            <b-col cols="10">
              <b-card-body>
                <h4>
                  {{ product.name }}
                </h4>
                <b-card-text>
                  {{ product.text }}
                </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Articles',
  props: {
    listOfArticles: {
      type: Array,
      default: null,
    },
  },
}
</script>
