<template>
  <div id="main-wrapper">
    <div class="form-title">
      Thông tin tìm kiếm
    </div>
    <b-form-group
      label="Tên"
      label-for="title"
    >
      <b-form-input
        id="name"
        v-model="searchForm.name"
        type="text"
        required
        placeholder="Nhập tên"
      />
    </b-form-group>
    <b-form-group
      label="Giá"
      label-for="description"
    >
      <b-form-input
        id="price"
        v-model="searchForm.price"
        type="text"
        required
        placeholder="Nhập giá"
      />
    </b-form-group>
    <b-form-group class="border-bottom-form padding-bottom-20">
      <b-button
        class="btn search-information-btn d-block float-right"
        @click="getProducts()"
      >
        TÌM KIẾM
      </b-button>
    </b-form-group>
    <div class="box-form-result">
      <p class="color-gray-1">
        Tìm thấy {{ totalRows }} kết quả
      </p>
      <b-table
        responsive="sm"
        :fields="fields"
        :items="listProduct.data"
      >
        <template #cell(img)="data">
          <img :src="data.item.img">
        </template>
        <template #cell(action)="data">
          <feather-icon
            icon="Trash2Icon"
            @click="remove(data.item.id)"
          />
        </template>
        <template #cell(categories)="data">
          <div v-html="$arrayToList(data.item.categories)" />
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        hide-goto-end-buttons
        :per-page="searchForm.pageSize"
        :total-rows="totalRows"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { PRODUCT_TABLE_FIELDS } from '@/constains/constants'
import mixinGetListProduct from '@/mixins/mixinGetListProduct'

export default {
  name: 'Products',
  components: {},
  mixins: [mixinGetListProduct],
  data() {
    return {
      searchForm: {
        title: '',
        description: '',
        pageSize: 5,
        currentPage: 1,
      },
      fields: Object.keys(PRODUCT_TABLE_FIELDS)?.map(item => ({
        key: item,
        label: PRODUCT_TABLE_FIELDS[item],
      })),
    }
  },
  computed: {
    ...mapGetters({
      listProduct: 'products/listProduct',
    }),
    currentPage: {
      get() {
        return this.searchForm.currentPage
      },
      set(newValue) {
        this.searchForm = {
          ...this.searchForm,
          currentPage: newValue,
        }
      },
    },
    totalRows() {
      const { listProduct } = this
      return listProduct.meta ? listProduct.meta.totalCount : 0
    },
  },
  methods: {
    async remove(id) {
      await this.$store.dispatch('products/removeProduct', id)
    },
  },
}
</script>
